ServiceInteraction/Connected Services/GrievousReference/GrievousService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SayHi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="greetingsCounter" type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="log" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SayHiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SayHiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SayHiSoapIn">
    <wsdl:part name="parameters" element="tns:SayHi" />
  </wsdl:message>
  <wsdl:message name="SayHiSoapOut">
    <wsdl:part name="parameters" element="tns:SayHiResponse" />
  </wsdl:message>
  <wsdl:portType name="GrievousServiceSoap">
    <wsdl:operation name="SayHi">
      <wsdl:input message="tns:SayHiSoapIn" />
      <wsdl:output message="tns:SayHiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GrievousServiceSoap" type="tns:GrievousServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHi">
      <soap:operation soapAction="http://tempuri.org/SayHi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GrievousServiceSoap12" type="tns:GrievousServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHi">
      <soap12:operation soapAction="http://tempuri.org/SayHi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GrievousService">
    <wsdl:port name="GrievousServiceSoap" binding="tns:GrievousServiceSoap">
      <soap:address location="http://localhost:49838/GrievousService.asmx" />
    </wsdl:port>
    <wsdl:port name="GrievousServiceSoap12" binding="tns:GrievousServiceSoap12">
      <soap12:address location="http://localhost:49838/GrievousService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>